target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/allure-results/0bb89e9a-21d3-4b2e-9272-7dc1aecccec9-container.json
/allure-results/3bdac228-a7cf-4b0b-b708-c357c7e03fe3-container.json
/allure-results/4d184500-e85f-459e-baa0-8f0ae16b3835-container.json
/allure-results/4ffc6968-f96b-4890-b735-843eeade9a1f-container.json
/allure-results/7a794be2-7066-4c22-afe1-042eb3c1ccbe-container.json
/allure-results/7b50e68e-dd9f-4267-8bd3-7eeae2e81730-container.json
/allure-results/7d1ff7dc-e20a-4219-a2e2-534244efc67a-result.json
/allure-results/79e15c59-63c0-40fb-aad0-92e280a23842-result.json
/allure-results/367df3a0-bf5c-446a-bd33-aa15e38d9700-container.json
/allure-results/459cfcc8-ae16-4a11-8413-462d2b58ff1d-container.json
/allure-results/632300db-ef71-4208-9a41-3ab723acc078-container.json
/allure-results/ab53848d-4dd1-47cb-a1ee-59ae6420b794-result.json
/allure-results/b69393f1-f49d-41ee-9340-f8a07b457f7d-container.json
/allure-results/d3878d93-b38e-4366-9313-b13d6548af5a-result.json
/allure-results/e15cdcec-91c2-4b84-b461-44e33466b38e-container.json
/allure-results/ffb54708-f1cd-451d-b0dd-18a84df76017-container.json
